/.vscode
/.terraform
/.terraform.lock.hcl
unit_test/.terraform/**/*
unit_test/.terraform.lock.hcl
unit_test/*.tfstate
unit_test/*.tfstate.backup
unit_test/.terraform.tfstate.lock.info
unit_test/.state
unit_test/.module
unit_test/.DS_Store
**/.DS_Store

